
@{
    ViewBag.Title = "MainAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h2>@Resources.Main.Groupschedules</h2>
        <small>
            Hello.....
        </small>
    </div>
</div>
