@model IEnumerable<CourseSite.Models.DAL.Courses>


<section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">
        <div class="section-header">
            <h2>@Resources.Main.Courses</h2>
            <p>
                <a href="#">
                    @Resources.Main.Allcourses
                </a>
            </p>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-4">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="~/assets/img/hotels/1.jpg" style="max-width:100%; margin:auto" alt="Hotel 1" class="img-fluid">
                        </div>
                        <h4 style="text-align:center;">
                            <a href="#">
                                @item.Course_EngName
                            </a>
                        </h4>
                        <p>@item.Course_TotalHour </p>
                        <button class="btn btn-success left" style="margin-bottom:3px; margin-left:3px"> More details </button>
                    </div>

                </div>


            }
        </div>



        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="~/assets/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
                    </div>
                    <h3><a href="#">Cource Name</a></h3>
                    @*<div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>*@
                    <p>Course Details </p>
                    <button class="btn btn-success righ" style="margin-bottom:3px; margin-left:3px"> More details </button>
                </div>

            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="~/assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
                    </div>
                    <h3><a href="#">Cource Name</a></h3>
                    @*<div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>*@
                    <p>Course Details</p>
                    <button class="btn btn-primary" style="margin-bottom:3px; margin-left:3px"> More details </button>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="~/assets/img/hotels/3.jpg" alt="Hotel 3" class="img-fluid">
                    </div>
                    <h3><a href="#">Cource Name</a></h3>
                    @*<div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>*@
                    <p>Course Details</p>
                    <button class="btn btn-success" style="margin-bottom:3px; margin-left:3px"> More details </button>
                </div>
            </div>
        </div>

    </div>

</section>
