@model IEnumerable<CourseSite.Models.DAL.Courses>



        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="hotel">
                        <div class="hotel-img" style="min-width:100%; height:100%;">
                           @if (string.IsNullOrEmpty(item.Course_ImgePath))
                           {
                            <img src="~/assets/img/hotels/1.jpg" style="max-width:100%;  max-width:100%; margin:auto" alt="CourseImage" class="img-fluid">
                           }
                           else
                           {
                            <img src="@Url.Content(item.Course_ImgePath)" style="max-width:100%; margin:auto" alt="CourseImage" class="img-fluid">
                           }
                        </div>
                        <h4 style="text-align:center;">
                            <a href="~/Course/Details/@item.ID">
                                @item.Course_EngName
                            </a>
                        </h4>

                        <p>@item.Course_TotalHour <span style="color:firebrick">Hours</span> </p>
                        <a href="~/Course/Details/@item.ID" class="btn"  style="background-color:#6DCADB; color:#fff; margin-bottom:3px; margin-left:3px"> More details </a>

                    </div>
                </div>
            }
        </div>

