@model IEnumerable<CourseSite.Models.DAL.Courses>

<section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">
        <div class="section-header">
            <h2>@Resources.Main.Courses</h2>
            <p>
                <a href="~/Course/Index">
                    @Resources.Main.Allcourses
                </a>
            </p>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="~/assets/img/hotels/1.jpg" style="max-width:100%; margin:auto" alt="CourseImage" class="img-fluid">
                        </div>
                        <h4 style="text-align:center;">
                            <a href="#">
                                @item.Course_EngName
                            </a>
                        </h4>

                        <p>@item.Course_TotalHour <span style="color:firebrick">Hours</span> </p>
                        <a href="~/Course/Details/@item.ID" class="btn btn-success left" style="margin-bottom:3px; margin-left:3px"> More details </a>

                    </div>
                </div>
            }
        </div>
    </div>
</section>
