

@model CourseSite.Models.DAL.Instractors 

<div class="col-lg-4 col-md-6">
    <div class="speaker">
        <img src="~/assets/img/speakers/Hesham.jpg" alt="Speaker 1" class="img-fluid">
        <div class="details">
            <h3><a href="speaker-details.html">Hesham Abdelnasser</a></h3>
            <p>Translation Orientation for Medical Translators</p>
            <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="speaker">
        <img src="~/assets/img/speakers/ereny.jpg" alt="Speaker 2" class="img-fluid">
        <div class="details">
            <h3><a href="speaker-details.html">Ereny L. Gawargy</a></h3>
            <p>IELTS Preparation</p>
            <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
