@model IEnumerable<CourseSite.Models.DAL.Courses>


@foreach (var item in Model)
{


<div class="row">

    <div class="col-lg-4 col-md-6">
        <div class="hotel">
            <div class="hotel-img">
                <img src="~/assets/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="#">@item.Course_EngName</a></h3>
            @*<div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>*@
            <p>@item.Course_EngSummary </p>
            @Html.ActionLink("Details", "Course", new { id = item.ID , @class = "btn btn-success righ"})
            @*<button type="submit" class="btn btn-success righ" style="margin-bottom:3px; margin-left:3px"> Details </button>*@
        </div>

    </div>

</div>
}