@model CourseSite.Models.MainViewModel 
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_LayoutMainChild.cshtml";
}

<section id="hotels" class="section-with-bg wow fadeInUp">
    @{

        Html.RenderPartial("~/Views/FAQ/_CoursePV.cshtml", Model.Courses);
    }

    </section>
